* {
  margin: 0;
  padding: 0;
}

.navbar-header {
  padding: 16px 8px;
  border-bottom: 1px solid gray;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 16px;
}

.navbar-actions {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 16px;
}

.navbar-action-btn {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.nav-link:hover {
  font-weight: 700;
  color: blue;
  text-decoration: underline;
}

.cart-badge {
  text-decoration: none;
  position: relative;
}

.cart-number {
  position: absolute;
  font-weight: 800;
  width: 24px;
  height: 24px;
  background-color: tomato;
  border-radius: 9999px;
  top: -16px;
  right: 20px;

  display: grid;
  place-items: center;
}

.account-avatar {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
}
